<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myapp.schedule.misha.myapplication">

    <application
        android:name=".ScheduleApp"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityCopyLesson" />

        <activity android:name=".activity.ActivityCreateLesson" />

        <provider
            android:name=".data.database.AppContentProvider"
            android:authorities="com.schedule.misha.myapplication.provider"
            android:exported="false"
            android:multiprocess="true" />

        <provider
            android:name=".NewFileProvider"
            android:authorities="myapp.schedule.misha.myapplication.NewFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>
</manifest>